@model List<data_access.Entities.Product>

<h1 class="text-center mb-4">Product List</h1>

@if (Model.Any())
{
    <p class="fst-italic text-center">Count of Products: <strong>@Model.Count</strong></p>

    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model)
            {
                <div class="col">
                    <div class="card shadow-sm border-light">
                        @* Uncomment and use a real image URL if available *@
                        <img src="https://m.media-amazon.com/images/I/51vfRTf1ACL.jpg" class="card-img-top" alt="@product.Name">

                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text text-muted">
                                @product.Category
                            </p>
                            <p class="card-text">
                                <span class="badge bg-danger">@product.Price grn</span>
                            </p>
                            <p class="card-text">
                                <a class="badge rounded-pill bg-dark" asp-action="Details" asp-route-id="@product.Id">Show Details</a>
                            </p>
                            <p class="card-text">
                                <a class="badge rounded-pill bg-dark" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                            </p>
                           
                            <p class="card-text">
                                <a class="badge rounded-pill bg-dark"  asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                            </p>

                        </div>
                      
                    </div>
                </div>
            }
        </div>
        <div class="mt-4">
           
            <a asp-action="Create" class="neon">Create New Product</a>
        </div>
    </div>
}
else
{
    <div class="text-center mt-10">
        <p class="alert alert-warning">No products available yet!</p>
    </div>
}
